@model Sistema_Gestion_TechNova.Models.Producto

<h2>Eliminar Producto</h2>

<p>¿Estás seguro de eliminar el producto <strong>@Model.Nombre</strong>?</p>

<form method="post">
    <button class="btn btn-danger">Eliminar</button>
    <a href="/Producto" class="btn btn-secondary">Cancelar</a>
</form>
