@model Sistema_Gestion_TechNova.Models.Cliente

<h2>Detalles del Cliente</h2>

<ul class="list-group">
    <li class="list-group-item"><strong>Nombre:</strong> @Model.NombreCompleto</li>
    <li class="list-group-item"><strong>Correo:</strong> @Model.Correo</li>
    <li class="list-group-item"><strong>Dirección:</strong> @Model.Direccion</li>
    <li class="list-group-item"><strong>Teléfono:</strong> @Model.Telefono</li>
</ul>

<a href="/Cliente" class="btn btn-secondary mt-3">Volver</a>
